/* stylelint-disable */

@font-face {
  font-family: 'Animosa';
  src: url('../fonts/Animosa/Animosa-ExtraBold.woff2') format('woff2'),
    url('../fonts/Animosa/Animosa-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CodecWarm';
  src: url('../fonts/CodecWarm/CodecWarm-Regular.woff2') format('woff2'),
    url('../fonts/CodecWarm/CodecWarm-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HeadingPro';
  src: url('../fonts/HeadingPro/HeadingPro-Bold.woff2') format('woff2'),
    url('../fonts/HeadingPro/HeadingPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HeadingPro';
  src: url('../fonts/HeadingPro/HeadingPro-Regular.woff2') format('woff2'),
    url('../fonts/HeadingPro/HeadingPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HeadingPro';
  src: url('../fonts/HeadingPro/HeadingPro-ExtraBold.woff2') format('woff2'),
    url('../fonts/HeadingPro/HeadingPro-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HeadingPro';
  src: url('../fonts/HeadingPro/HeadingPro-Book.woff2') format('woff2'),
    url('../fonts/HeadingPro/HeadingPro-Book.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
