
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;

    &_face {
        padding-top: 40px;
        background-image: url("../media/section/face.jpg");
        background-position: center bottom;
        background-size: cover;
    }

    &_commits {
        padding-top: 0;
    }

    &_footer {
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

.section__title {
    font-size: 63px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
}

@media (max-width: 1310px) {
    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 30px;
    }
}
