
<div class="answer">
    <div class="answer__body">
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
        <span>У нас есть ответ!</span>
    </div>
</div>