<section class="section section_causes">
    <div class="container">
        <div class="causes">
            <div class="section__title causes__title">Причины ухудшения зрения</div>
            <div class="causes__body">
                <div class="causes__card">
                    <span>Длительное использование гаджетов</span>
                </div>
                <div class="causes__card">
                    <span>Чтение в неподходящих условиях</span>
                </div>
                <div class="causes__card">
                    <span>Попадание в глаза прямых солнечных лучей</span>
                </div>
                <div class="causes__card">
                    <span>Стрессовые ситуации</span>
                </div>
                <div class="causes__card">
                    <span>Вредные привычки</span>
                </div>
                <div class="causes__card">
                    <span>Неправильное питание</span>
                </div>
                <div class="causes__card">
                    <span>Высокий уровень сахара и холестерина</span>
                </div>
                <div class="causes__card">
                    <span>Возрастные изменения</span>
                </div>
            </div>
        </div>
    </div>
</section>