<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title">Отзывы пациентов</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div>
                    <div class="commits__name">Тереза <span>48 лет</span></div>
                    <div class="commits__description">«Зрение у меня испортилось еще в молодости. Долгое время носила контактные линзы, но от них очень уставали глаза, а от очков болела голова. Операцию делать было страшно. О Visiol узнала случайно, но сразу заинтересовалась этим препаратом. Особенно понравилось то, что состав полностью натуральный. Пропив полный курс этого средства, чувствую себя намного лучше. Всем знакомым буду советовать только Visiol!»</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div>
                    <div class="commits__name">Доминго <span>55 лет</span></div>
                    <div class="commits__description">«Из-за плохого зрения я всегда чувствовал большой дискомфорт. Обращался к врачам, все в один голос твердили: спасет только операция. И только лишь один доктор сказал, что побороться за зрение еще можно с помощью Visiol. И это средство действительно помогло! Все вокруг стало намного ярче, чем когда я был в очках. Зрение сейчас 100%. Я остался впечатлен результатом. Спасибо, Visiol!»</div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div>
                    <div class="commits__name">Амелия <span>57 лет</span></div>
                    <div class="commits__description">«Несмотря на годы, я очень активный человек. Только вот носить контактные линзы, занимаясь спортом практически невозможно. Операцию делать мне было нельзя по медицинским показаниям, но очень хотелось вернуть четкое зрение… Пробовала множество препаратов, но все они оказывались пустышками. Помог только Visiol. Сейчас у меня идеальное зрение, и я не могу передать словами, как это потрясающе – видеть всё!»</div>
                </div>
            </div>
        </div>
    </div>
</section>