<section class="section section_event">
    <div class="container">
        <div class="event">
            <div class="section__title event__title">Действие Visiol</div>
            <div class="event__list">
                <div class="event__item">Укрепляет сетчатку глаза</div>
                <div class="event__item">Стимулирует нервные синапсы, обеспечивающие четкое зрение</div>
                <div class="event__item">Возвращает хрусталику нормальную форму</div>
                <div class="event__item">Улучшает кровообращение</div>
                <div class="event__item">Исключает риск развития заболеваний глаз</div>
                <div class="event__item">Нормализует внутриглазное давление</div>
            </div>
        </div>
    </div>
</section>
