<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="section__title help__title">Как вернуть <span>зрение?</span></div>
            <div class="help__description">
                Многие люди уверены, что единственным решением является операция. Но далеко не все имеют возможность сделать ее по разным причинам – из-за противопоказаний, нехватки средств или банального страха. <mark>Поэтому все чаще звучит вопрос — как вернуть зрение без хирургического вмешательства?</mark>
            </div>
        </div>
    </div>
    <%- include('answer') %>
</section>