<div class="info">
    <div class="container">
        <div class="info__body">
            <div class="info__name">
                <div class="info__!"><img src="../media/info/!.png" alt=""></div>
                <p>ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></p>
            </div>
            <div class="info__description">
                Количество упаковок с Visiol, необходимое для желаемого результата, <span>определяется индивидуально и в отдельных случаях может увеличиться.</span>
            </div>
        </div>
    </div>
</div>