<section class="section section_nano">
    <div class="container">
        <div class="nano">
            <div class="nano__media">
                <div class="nano__product">
                    <img src="../media/product.png" alt="">
                </div>
            </div>
            <div class="nano__info">
                <div class="section__title nano__title"><mark>Visiol – </mark> лучше, чем операция!</div>
                <div class="nano__description">
                    <p>Препарат, разработанный на базе Научно-исследовательского института глазных болезней, комплексно воздействует на причины ухудшения зрения и обеспечивает полное избавление от наиболее распространенных глазных заболеваний.
                        <small>Visiol укрепляет мышцы глазного яблока и регулирует их работу, восстанавливая правильную фокусировку хрусталика. Таким образом, обеспечивается тонус мышц, и они перестают деформировать хрусталик.</small>
                        <mark>Результат – четкое, яркое и объемное зрение.</mark>
                    </p>
                </div>
                <div class="nano__btn">Купить со скидкой</div>
            </div>
        </div>
    </div>
</section>
