<section class="section section_nano">
    <div class="container">
        <div class="nano">
            <div class="nano__media">
                <div class="nano__product">
                    <img src="../media/product.png" alt="">
                </div>
            </div>
            <div class="nano__info">
                <div class="section__title nano__title"><mark>Visiol – </mark> ЭФФЕКТИВНЕЕ, ЧЕМ ОПЕРАЦИЯ</div>
                <div class="nano__description">
                    <p>Препарат разрабатывался Научно-исследовательским институтом глазных заболеваний. Он содержит все необходимые вещества и микроэлементы, которые не только поддерживают здоровье глаз, но и восстанавливают поврежденные их участки: сетчатка, хрусталик, мышцы, роговица и зрительный нерв.
                        <small>Visiol останавливает все деструктивные процессы в сетчатке. Улучшает качество и четкость зрения, повышая тонус глазных мышц. Регулярное применение препарата предотвращает катаракту и помутнение хрусталика в любом возрасте.</small>
                        <mark>Результат – четкое, яркое и объемное зрение.</mark>
                    </p>
                </div>
                <div class="nano__btn">Купить со скидкой</div>
            </div>
        </div>
    </div>
</section>
