<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title">Что о Visiol говорят
                специалисты?</div>
            <div class="professional__body">
                <div class="professional__info">
                    <p>Не секрет, что очки и контактные линзы негативно влияют на качество зрения. Со временем мышцы глаз атрофируются, и зрение падает еще быстрее.</p>
                    <p>До недавних пор я отправлял пациентов со сниженным зрением на операцию или лазерную коррекцию, потому что оставлять эту проблему без внимания категорически нельзя. Но, благодаря новейшим разработкам, сегодня появилась возможность решить эту проблему медикаментозно с помощью Visiol.</p>
                    <p>Этот препарат восстанавливает правильную работу глазного аппарата и усиливает остроту зрения.
                        9 из 10 моих пациентов вновь обретают 100%
                        зрение благодаря Visiol.</p>
                </div>
            </div>
            <div class="professional__footer">
                <div class="professional__name">Альфонсо Моралес, <mark>врач-офтальмолог, профессор</mark></div>
            </div>
            <div class="professional__human">
                <img src="../media/professional/human.png" alt="">
            </div>
        </div>
    </div>
</section>