<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title">Что о Visiol говорят
                специалисты?</div>
            <div class="professional__body">
                <div class="professional__info">
                    <p>После 35 лет 80% людей начинают жаловаться на зрение. Основная причина кроется в мышцах глаза и его хрусталике. Мышцы атрофируются, хрусталик уплотняется и мутнеет, пропуская меньше света на сетчатку глаза.</p>
                    <p>Еще год назад всех пациентов с угрозой потери зрения я направлял на операцию – других способов исправить ситуацию не существовало. Каждый человек сталкивался с одним или несколькими осложнениями – от развития острых инфекций до полной потери зрения.</p>
                    <p>Visiol – новый препарат, который успел стать лучшим в своем сегменте и войти в практику ведущих офтальмологов Европы. Он позволяет избежать операций в большинстве случаев. Благодаря препарату 9 из 10 пациентов за курс лечения обретают 100% зрение и избавляются от глазных заболеваний.</p>
                </div>
            </div>
            <div class="professional__footer">
                <div class="professional__name">Альфонсо Моралес, <mark>врач-офтальмолог, профессор</mark></div>
            </div>
            <div class="professional__human">
                <img src="../media/professional/human.png" alt="">
            </div>
        </div>
    </div>
</section>