<section class="section section_study">
    <div class="container">
        <div class="study">
            <div class="section__title study__title">Клинические исследования Visiol</div>
            <div class="study__description">Проведенные на базе НИИ глазных болезней на 2897 добровольцев с различными причинами и степенями ухудшения зрения показали следующие результаты:</div>
            <div class="study__graph">
                <div class="study__graph-item">
                    <span>Полное восстановление зрения:</span>
                    <div class="study__line">
                        <p><span>95</span>% исследуемых</p>
                        <div class="study__line-after"></div>
                    </div>
                </div>
                <div class="study__graph-item">
                    <span>Пропала потребность в операции:</span>
                    <div class="study__line">
                        <p><span>95</span>% исследуемых</p>
                        <div class="study__line-after"></div>
                    </div>
                </div>
                <div class="study__graph-item">
                    <span>Восстановлено правильное функционирование зрительного аппарата:</span>
                    <div class="study__line">
                        <p><span>98</span>% исследуемых</p>
                        <div class="study__line-after"></div>
                    </div>
                </div>
                <div class="study__graph-item">
                    <span>Отсутствие побочных эффектов:</span>
                    <div class="study__line">
                        <p><span>100</span>% исследуемых</p>
                        <div class="study__line-after"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>