<section class="section section_vision">
    <div class="container">
        <div class="vision">
            <div class="vision__media"></div>
            <div class="vision__info">
                <div class="vision__title">Способность видеть – дар и уникальная возможность. Ценность зрения осознается только тогда, когда начинаешь его терять. </div>
                <p>Зрение – сложный функциональный механизм. Свет от объектов проходит через наши глаза, где он преобразуется в нервный импульс и несется в наш мозг. Заканчивается зрительный процесс формированием образа в нашем мозгу.
                <span>Нарушение зрения может произойти на любом этапе. Не стоит забывать, что глаза – чрезвычайно чувствительный и ранимый орган, испытывающий колоссальный нагрузки ежедневно.</span>
                <span>Существует множество факторов, негативно влияющих на зрение, избежать которых в современном мире невозможно.</span>
                </p>
            </div>
        </div>
    </div>
</section>