<section class="section section_vision">
    <div class="container">
        <div class="vision">
            <div class="vision__media"></div>
            <div class="vision__info">
                <div class="vision__title">Способность видеть – один из самых замечательных подарков природы человеку. </div>
                <p>Хорошее зрение значительно повышает качество жизни, именно поэтому так важно поддерживать здоровье глаз на протяжении всего жизненного пути.
                <span>Однако это не так просто, ведь глаза – чрезвычайно чувствительный и ранимый орган, испытывающий колоссальные нагрузки ежедневно.</span>
                <span>Существует множество факторов, негативно влияющих на зрение, избежать которых в современном мире практически невозможно.</span>
                </p>
            </div>
        </div>
    </div>
</section>