
.demo__title {
    margin-top: 50px;
    font-family: "Animosa", sans-serif;
    font-size: 300px;
    font-weight: 700;
    color: #19b85c;
    text-align: center;
    text-transform: uppercase;

    & span {
        animation: animate 3s linear infinite;
    }
}

@keyframes animate {
    0% {
        filter: blur(0);
    }

    40% {
        filter: blur(20px);
    }

    80% {
        filter: blur(0);
    }

    100% {
        filter: blur(0);
    }
}

@media (max-width: 1310px) {
    .demo__title {
        font-size: 180px;
    }
}

@media (max-width: 768px) {
    .demo__title {
        margin-top: 0;
        font-size: 130px;
    }
}

@media (max-width: 480px) {
    .demo__title {
        font-size: 110px;
    }
}
