
.help {
    max-width: 570px;
}

.help__title {
    margin-bottom: 30px;
    font-size: 122px;
    font-weight: 700;
    color: #fff;

    & span {
        display: inline-block;
        padding: 25px 15px 0 15px;
        font-size: 179px;
        line-height: 135px;
        background-color: #2389a5;
    }
}

.help__description {
    font-family: "HeadingPro", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #fff;

    & mark {
        font-weight: 700;
        color: #fff;
    }
}

@media (max-width: 1310px) {
    .help__title {
        font-size: 85px;

        & span {
            padding-top: 17px;
            font-size: 120px;
            line-height: 100px;
        }
    }

    .help {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .help {
        max-width: 100%;
    }

    .help__title {
        font-size: 50px;
    }

    .help__description {
        padding: 15px;
        background-color: #2389a5;
    }
}

@media (max-width: 480px) {
    .help__title {
        padding: 0;
        font-size: 65px;
        text-align: center;

        & span {
            display: block;
            padding: 15px 5px 0 5px;
            font-size: 92px;
            line-height: 69px;
            background-color: #4d9ab3;
            border-radius: 3px;
        }
    }

    .help__description {
        padding: 0;
        font-size: 22px;
        font-weight: 900;
        background-color: transparent;
    }

    @supports (-webkit-touch-callout: none) {
        .help__title span {
            padding: 15px 5px;
        }
    }
}
